*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

/* root configs*/
:root{
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

/* page structure */
body{
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

.container{
  display:flex;
  flex-direction: row;
  column-gap: 3.75rem;
  margin:2.5rem;
  /* padding: 0.4rem;
  border: 1px solid grey; */
}

.content-container{
  width: 100%;
}

footer{
  width: 100%;
}

footer p{
  text-align: center;
}

/* END */

/* SIDEBAR */

.sidebar{
  display: grid;
  row-gap: 1.875rem;
}


.profile{
  background-color:var(--bg-cards);

  border-radius: 1.25rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.image-profile{
  margin: 2rem 6.875rem;
  border-radius: 50%;
  width: 7.5rem;
  height: 6.25rem;
  clip-path: circle(50% 50%);
  border: 2px solid #00FF00;
}

.profile-name{
  font-size:23px;
  text-align: center;
}

.profile-desc{
  font-size:13px;
  text-align: center;

  margin-bottom: 3.125rem;
}


.contact-link{
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1.85rem 2.5rem;
  background-color:var(--bg-cards);

  border-radius: 1.25rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.link-item{
  display: flex;
  align-items: center;
}

.link-item span{
  font-size: .75rem;
  margin-left: 1.25rem; 
}


.experiences, .education, .technologies{
  
  padding: 1.875rem 2.5rem;
  background-color:var(--bg-cards);

  border-radius: 1.25rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.techs-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: .8rem;
  row-gap: .8rem;
}
.techs-list button {
  width: calc(90% / 3);
  color:#000;
  line-height: 1.8rem;
  font-weight: 700;
  background-color: var(--bg-techs);
  
  border: none;
  border-radius: 1.875rem;
}

/* titles cards */
.experiences h2, .education h2, .technologies h2{
  margin-bottom: 1.2rem;
}

/* END */

/* CONTENT-CONTAINER */
.content-container{
  display: flex;
  flex-direction:column;
  row-gap: 1.875rem;
}

.content-header, .recent-posts, .card-wrapper{
  padding: 1.875rem;
  background: var(--bg-cards);

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
}

.content-header{
  display: flex;
  justify-content: space-between;
}

.content-header p,.recent-posts p{
  font-size: 20px;
  font-weight: 700;
}

.content-header a{
  font-size:14px;
  font-weight: 400;
}

.card-container{
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.git-stats {
  display: flex;
}

.stars, .branches {
  display: flex;
  align-items: center;
}

.branches {
  margin-left: 1.5rem;
}

